doctype html
html
    head
      link(rel='stylesheet', href='/stylesheets/sidebar.css')
      link(rel='stylesheet', href='/stylesheets/addentry.css')
      // Javascript that hides and reveals form input based on selected option
      script.
        function jobSelector() {
          // Update jobs when adding more divs
          var jobs = ["date", "teach/assist", "prepaint"];
          var teachAssistTags = ["1.5teach", "1.5assist", "2teach", "2assist", "2.5teach", "2.5assist", "3teach" ,"3assist", "admin_assist"];
          var prepaintTags = ["prepaint", "largecanvasprepaint"];
          // For loop resets the look of the page onchange
          for (let i = 0; i < jobs.length; i++)
          {
            var resetSelected = document.getElementById(jobs[i]);
            if (resetSelected.style.display === "block")
            {
              resetSelected.style.display = "none";
            }
          }
          var optionIndex = document.getElementById("jobList").selectedIndex;
          var selectedJob = document.getElementById("jobList").getElementsByTagName("option")[optionIndex].value;
          if (selectedJob == teachAssistTags[teachAssistTags.indexOf(selectedJob)])
          {
            var reveal = document.getElementById("date");
            reveal.style.display = "block";
            reveal = document.getElementById("teach/assist");
            reveal.style.display = "block";
          }
          if (selectedJob == prepaintTags[prepaintTags.indexOf(selectedJob)])
          {
            var reveal = document.getElementById("date");
            reveal.style.display = "block";
            reveal = document.getElementById("prepaint");
            reveal.style.display = "block";
          }
        }
    body
      div.sidebar
        h1 #{sidebarName}
        h3 <a href='/home'> View Timesheet </a>
        h3 <u >Add Entry </u>
        if isManager
          h3 <a href='/adduser'> Add Employee </a>
          h3 Edit Employee Information
        div
          h3 <a href='/logout'>Logout</a>
      div.entryadd
        form(action='/addentry', method="post", id="jobselect")
          if isManager
            select(name='employeelist')
              option(value= 'NULL') Select User
              each user in selectName
                option(value= user) #{user}
          select(name='jobList', id="jobList", onchange='jobSelector()')
            option(value='NULL') Select Job Type
            option(value='1.5teach') 1.5 Hour Teach
            option(value='1.5assist') 1.5 Hour Assist
            option(value='2teach') 2 Hour Teach
            option(value='2assist') 2 Hour Assist
            option(value='2.5teach') 2.5 Hour Teach
            option(value='2.5assist') 2.5 Hour Assist
            option(value='3teach') 3 Hour Teach
            option(value='3assist') 3 Hour Assist
            option(value='hourlyassist') Hourly Assist
            option(value='prepaint') Prepaint
            option(value='largecanvasprepaint') Large Canvas Prepaint
            option(value='sketch') Sketch
            option(value='pypsketch') PYP Sketch
            option(value='special_events') Special Events
            option(value='artwork_submission') Artwork Submission
            option(value='offsite_travel') Offsite Travel
            option(value='admin') Admin
            option(value='admin_assist') Admin Assist
            option(value='manager') Manager
            option(value='marketing') Marketing
            option(value='team_meeting') Team Meeting
            option(value='training') Training
            option(value='random_bonus') Random Bonus
            option(value='PTO') PTO
            option(value='holiday') Holiday
          div(id="date", style="display: none;")
            p Date
            input(type="date", name="date")
          div(id='teach/assist', style="display: none;")
            p Class Description
            input(type="text", name="class_desc")
            p Tips
            input(type="number", name="tips", step=".01", min="0")
            p # seats
            input(type="number", name="seats", min="0")
            p Comments
            input(type="text", name="comments")
            input(type="submit", value="Submit")
          div(id="prepaint", style="display: none;")
            p Prepaint Name
            input(type="text", name="class_desc")
            p Comments
            input(type="text", name="comments")
            input(type="submit", value="Submit")
            
            
        
