doctype html
html
    head
      link(rel='stylesheet', href='/stylesheets/sidebar.css')
      link(rel='stylesheet', href='/stylesheets/addentry.css')
      // Javascript that hides and reveals form input based on selected option
      script.
        function jobSelector() {
          var optionIndex = document.getElementById("jobSelection").selectedIndex;
          console.log(document.getElementsByTagName("option")[x].value);
        }
    body
      div.sidebar
        h1 #{sidebarName}
        h3 <a href='/home'> View Timesheet </a>
        h3 <u >Add Entry </u>
        if isManager
          h3 <a href='/adduser'> Add Employee </a>
          h3 Edit Employee Information
        div
          h3 <a href='/logout'>Logout</a>
      div.entryadd
        form(action='/addentry', method="post", id="jobselect")
          if isManager
            select(name='employeelist')
              option(value= 'NULL') Select User
              each user in selectName
                option(value= user) #{user}
          select(name='joblist', id="jobSelection", onchange='jobSelector()')
            option(value='NULL') Select Job Type
            option(value='1.5teach') 1.5 Hour Teach
            option(value='1.5assist') 1.5 Hour Assist
            option(value='2teach') 2 Hour Teach
            option(value='2assist') 2 Hour Assist
            option(value='2.5teach') 2.5 Hour Teach
            option(value='2.5assist') 2.5 Hour Assist
            option(value='3teach') 3 Hour Teach
            option(value='3assist') 3 Hour Assist
            option(value='hourlyassist') Hourly Assist
            option(value='prepaint') Prepaint
            option(value='largecanvasprepaint') Large Canvas Prepaint
            option(value='sketch') Sketch
            option(value='pypsketch') PYP Sketch
            option(value='special_events') Special Events
            option(value='artwork_submission') Artwork Submission
            option(value='offsite_travel') Offsite Travel
            option(value='admin') Admin
            option(value='admin_assist') Admin Assist
            option(value='manager') Manager
            option(value='marketing') Marketing
            option(value='team_meeting') Team Meeting
            option(value='training') Training
            option(value='random_bonus') Random Bonus
            option(value='PTO') PTO
            option(value='holiday') Holiday
