doctype html
html
    head
      link(rel='stylesheet', href='/stylesheets/sidebar.css')
      link(rel='stylesheet', href='/stylesheets/addentry.css')
      // Javascript that hides and reveals form input based on selected option
      script.
        function jobSelector() {
          // Update jobs when adding more divs
          var jobs = ["date", "teach/assist", "prepaint", "sketches", "pypsketches"];
          var teachAssistTags = ["1.5 Hour Teach", "1.5 Hour Assist", "2 Hour Teach", "2 Hour Assist", "2.5 Hour Teach", "2.5 Hour Assist", "3teach" ,"3 Hour Assist", "Admin Assist"];
          var prepaintTags = ["Prepaint", "Large Canvas Prepaint"];
          // For loop resets the look of the page onchange
          for (let i = 0; i < jobs.length; i++)
          {
            var resetSelected = document.getElementById(jobs[i]);
            if (resetSelected.style.display === "block")
            {
              resetSelected.style.display = "none";
            }
          }
          var optionIndex = document.getElementById("jobList").selectedIndex;
          var selectedJob = document.getElementById("jobList").getElementsByTagName("option")[optionIndex].value;
          if (selectedJob == teachAssistTags[teachAssistTags.indexOf(selectedJob)])
          {
            var reveal = document.getElementById("date");
            reveal.style.display = "block";
            reveal = document.getElementById("teach/assist");
            reveal.style.display = "block";
          }
          if (selectedJob == prepaintTags[prepaintTags.indexOf(selectedJob)])
          {
            var reveal = document.getElementById("date");
            reveal.style.display = "block";
            reveal = document.getElementById("prepaint");
            reveal.style.display = "block";
          }
          if (selectedJob == "Sketch")
          {
            var reveal = document.getElementById("date");
            reveal.style.display = "block";
            reveal = document.getElementById("sketches");
            reveal.style.display = "block";
          }
          if (selectedJob == "PYP Sketches")
          {
            var reveal = document.getElementById("date");
            reveal.style.display = "block";
            reveal = document.getElementById("pypsketches");
            reveal.style.display = "block";
          }
        }
    body
      div.sidebar
        h1 #{sidebarName}
        h3 <a href='/home'> View Timesheet </a>
        h3 <u >Add Entry </u>
        if isManager
          h3 <a href='/adduser'> Add Employee </a>
          h3 Edit Employee Information
        div
          h3 <a href='/logout'>Logout</a>
      div.entryadd
        form(action='/addentry', method="post", id="jobselect")
          if isManager
            select(name='employeelist')
              option(value= 'NULL') Select User
              each user in selectName
                option(value= user) #{user}
          select(name='jobList', id="jobList", onchange='jobSelector()')
            option(value='NULL') Select Job Type
            option(value='1.5 Hour Teach') 1.5 Hour Teach
            option(value='1.5 Hour Assist') 1.5 Hour Assist
            option(value='2 Hour Teach') 2 Hour Teach
            option(value='2 Hour Assist') 2 Hour Assist
            option(value='2.5 Hour Teach') 2.5 Hour Teach
            option(value='2.5 Hour Assist') 2.5 Hour Assist
            option(value='3 Hour Teach') 3 Hour Teach
            option(value='3 Hour Assist') 3 Hour Assist
            option(value='Hourly Assist') Hourly Assist
            option(value='Prepaint') Prepaint
            option(value='Large Canvas Prepaint') Large Canvas Prepaint
            option(value='Sketch') Sketch
            option(value='PYP Sketches') PYP Sketch
            option(value='Special Events') Special Events
            option(value='Artwork Submission') Artwork Submission
            option(value='Offsite Travel') Offsite Travel
            option(value='Admin') Admin
            option(value='Admin Assist') Admin Assist
            option(value='Manager') Manager
            option(value='Marketing') Marketing
            option(value='Team Meeting') Team Meeting
            option(value='Training') Training
            option(value='Random Bonus') Random Bonus
            option(value='PTO') PTO
            option(value='Holiday') Holiday
          div(id="date", style="display: none;")
            p Date
            input(type="date", name="date")
          div(id='teach/assist', style="display: none;")
            p Class Description
            input(type="text", name="class_desc")
            p Bonus
            select(name="bonusList", id="bonusList")
              option(value="NULL") None
              option(value="20+ No Assistance") 20+ No Assistance
              option(value="40+ Bonus") 40+ Bonus
              option(value="Sold Private Party") Sold Private Party
              option(value="VIP Room Host") VIP Room Host
            p Tips
            input(type="number", name="tips", step=".01", min="0")
            p # Seats
            input(type="number", name="seats", min="0")
            p Comments
            input(type="text", name="comments")
            input(type="submit", value="Submit")
          div(id="prepaint", style="display: none;")
            p Prepaint Name
            input(type="text", name="class_desc")
            p Comments
            input(type="text", name="comments")
            input(type="submit", value="Submit")
          div(id="sketches", style="display: none;")
            p Painting Sketched
            input(type="text", name="class_desc")
            p # Sketched
            input(type="number", name="sketches", min="0")
            p Comments
            input(type="text", name="comments")
            input(type="submit", value="Submit")
          div(id="pypsketches", style="display: none;")
            p # Sketched
            input(type="number", name="sketches", min="0")
            p Comments
            input(type="text", name="comments")
            input(type="submit", value="Submit")
          div(id="hourly", style="display: none;")
            p Time In
            input(type="time", name="timein")
            p Time Out
            input(type="time", name="timeout")

            
            
        
