doctype html
html
    head
        h3 This is where you add new users to the database.
    body
        form(action="/adduser", method="post")
          input(type='hidden', name="_method", value="PUT")
          p First Name
            input(type='text', name='first-name')
          p Last name
            input(type='text', name='last-name')
          p Username
            input(type='text', name='username')
          p Email Address
            input(type='text', name='email')
          p Password
            input(type='text', name='password')
          p Confirm Password
            input(type='text', name='pwconfirm')

          label(for='emp') Employee  
          input(id='emp', type='radio', name='accessrole', value='Employee', checked)
          label(for='man') Manager  
          input(id='man', type='radio', name='accessrole', value='Manager')  
          input(type='submit', value='Add User')