doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.sidebar
        div
            h1.empname Employee Name
        div
            h3.sidebar View Timesheet
            h3.sidebar Add Entry
            h3.sidebar Logout
        if isManager
            h3.sidebar Add Employee
            h3.sidebar Edit Employee Information