doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/sidebar.css')
    body
        div.sidebar
            h1 #{sidebarName}
            h3 <u>View Timesheet</u>
            h3 Add Entry
            if isManager
                h3 <a href='/adduser'> Add Employee </a>
                h3 Edit Employee Information
            div
                h3 <a href='/logout'>Logout</a>
