doctype html
html
    head
      link(rel='stylesheet', href='/stylesheets/sidebar.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script.
        $(document).ready(function()
        {
          $(checkbox).click(function(){
            if ($(this).is(':checked')){
              $(buttonDel).removeAttr('disabled');
            }
            else {
              $(buttonDel).attr('disabled', true)
            }
          });
          $(buttonDel).click(function(){
            if (confirm("Are you sure you want to delete these entries?"))
            {
              var values = new Array();

              $.each($("input[name='checkbox']:checked").closest("td").siblings("td"), function () {
                values.push($(this).text());
              });

              $.post("/entrydelete", {
                'values': JSON.stringify(values)
              }, function(results){
                location.reload();
              });
            }
          });
        });
    body
      div.sidebar
        h1 #{sidebarName}
        h3 <u>View Timesheet</u>
        h3 <a href='/addentry'> Add Entry </a>
        if isManager
          h3 <a href='/adduser'> Add Employee </a>
          h3 Edit Employee Information
        div
          h3 <a href='/logout'>Logout</a>
      div.tabout
        input(type='button' value='Delete' name='buttonDel' id='buttonDel' disabled)
        table
          thead
          tbody
            tr
              each obj in timesheetRows
                th= obj
            each obj in timesheetData
              tr
                each subobj in obj
                  td= subobj
                td <input type='checkbox' name='checkbox' id='checkbox'>