doctype html
html
    head
      link(rel='stylesheet', href='/stylesheets/sidebar.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
    body
      div.sidebar
        h1 #{sidebarName}
        h3 <u>View Timesheet</u>
        h3 <a href='/addentry'> Add Entry </a>
        if isManager
          h3 <a href='/adduser'> Add Employee </a>
          h3 Edit Employee Information
        div
          h3 <a href='/logout'>Logout</a>
      div.tabout
        table
          thead
          tbody
            tr
              each obj in timesheetRows
                th= obj
            each obj in timesheetData
              tr
                each subobj in obj
                  td= subobj