doctype html
html
    head
    body
      div(id="login")
        div.errors
          if errors
           p #{errors}
        div
          form(action="/login", method="post")
            input(type='hidden', name="_method", value="PUT")
            p Username
              input(type='text', name='username')
            p Password
              input(type='password', name='password')
            input(type='submit', value='Login')