.sidebar{
  font-family: "Arial";
  width: 250px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: static;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
}

h1.empname {
  text-align: center;
  display: block;
  color: white;
  padding-bottom: 50px;
}

h3.sidebar {
  display: block;
  padding-left: 5px;
  padding-bottom: 10px;
  text-align: left;
  color: white;
  height: 5%;
}

h3.sidebar:hover {
  color: grey;
}